In [2]:
import pandas as pd

In [3]:
def col_change(df):
    df.columns = ['연도','시도','시군구','계약종별',
                  '1월','2월','3월','4월','5월',
                  '6월','7월','8월','9월','10월',
                  '11월','12월']

    df.drop([0, 1], axis=0, inplace=True)

    return df

In [4]:
df2010 = pd.read_excel("시군구별 전력사용량(2010년).xlsx")
df2011 = pd.read_excel("시군구별 전력사용량(2011년).xlsx")
df2012 = pd.read_excel("시군구별 전력사용량(2012년).xlsx")
df2013 = pd.read_excel("시군구별 전력사용량(2013년).xlsx")
df2014 = pd.read_excel("150128 시군구별 전력사용량(2014년 1월~12월).xlsx")
df2015 = pd.read_excel("시군구별 전력사용량(2015년 12월).xlsx")
df2016 = pd.read_excel("시군구별 전력사용량(2016년 12월).xlsx")
df2017 = pd.read_excel("8.시군구별 전력사용량(홈페이지 게시용)_201712.xlsx")
df2018 = pd.read_excel("8.시군구별 전력사용량(홈페이지 게시용)_201812.xlsx")
df2019 = pd.read_excel("(2019)시군구별 전력사용량.xlsx")
df2020 = pd.read_excel("시군구별 전력사용량(홈페이지 게시용)_202012.xlsx")
df2021 = pd.read_excel("8.시군구별 전력사용량(홈페이지 게시용)_202112.xlsx")

df2010 = col_change(df2010).reset_index()
df2011 = col_change(df2011).reset_index()
df2012 = col_change(df2012).reset_index()
df2013 = col_change(df2013).reset_index()
df2014 = col_change(df2014).reset_index()
df2015 = col_change(df2015).reset_index()
df2016 = col_change(df2016).reset_index()
df2017 = col_change(df2017).reset_index()
df2018 = col_change(df2018).reset_index()
df2019 = col_change(df2019).reset_index()
df2020 = col_change(df2020).reset_index()
df2021 = col_change(df2021).reset_index()

In [5]:
df_all = pd.concat([df2010,
                    df2011,
                    df2012,
                    df2013,
                    df2014,
                    df2015,
                    df2016,
                    df2017,
                    df2018,
                    df2019,
                    df2020,
                    df2021])

df_all

,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2,2010년,서울특별시,강남구,주택용,79292,74986,68798,70793,67428,70911,80125,92559,80982,68500,70368,73862
1,3,2010년,서울특별시,강남구,일반용,349518,322874,278902,279749,256752,293787,344233,372474,339004,257141,267997,311603
2,4,2010년,서울특별시,강남구,교육용,4531,4311,3724,4110,2637,3261,4151,3096,4410,2476,3504,4847
3,5,2010년,서울특별시,강남구,산업용,17447,16078,16690,16731,16741,16383,17159,15924,16410,16312,16434,17465
4,6,2010년,서울특별시,강남구,농사용,556,526,356,340,250,233,238,230,208,169,191,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1830,1832,2021,세종특별자치시,세종시,합 계,334175873,304009818,296000438,287523780,275185212,292890410,315298529,339002099,309351099,286700993,297290104,957934330
1831,1833,2021,황해북도,개성시,주택용,0,0,0,0,0,0,0,0,0,0,0,0
1832,1834,2021,황해북도,개성시,일반용,0,0,0,0,0,0,0,0,0,0,0,0
1833,1835,2021,황해북도,개성시,산업용,0,0,0,0,0,0,0,0,0,0,0,0
1834,1836,2021,황해북도,개성시,합 계,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
df_all = df_all.drop(df_all[df_all['시도'] == '황해북도'].index)
df_all

,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,2,2010년,서울특별시,강남구,주택용,79292,74986,68798,70793,67428,70911,80125,92559,80982,68500,70368,73862
1,3,2010년,서울특별시,강남구,일반용,349518,322874,278902,279749,256752,293787,344233,372474,339004,257141,267997,311603
2,4,2010년,서울특별시,강남구,교육용,4531,4311,3724,4110,2637,3261,4151,3096,4410,2476,3504,4847
3,5,2010년,서울특별시,강남구,산업용,17447,16078,16690,16731,16741,16383,17159,15924,16410,16312,16434,17465
4,6,2010년,서울특별시,강남구,농사용,556,526,356,340,250,233,238,230,208,169,191,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,1827,2021,세종특별자치시,세종시,교육용,9919429,7998599,7094752,6676212,5149060,5564557,6155191,5625312,6224255,5467544,6562494,8728109
1826,1828,2021,세종특별자치시,세종시,산업용,170948117,149379414,165118636,161735480,158141171,165891271,174174622,166810462,160030114,160105571,161778265,169320998
1827,1829,2021,세종특별자치시,세종시,농사용,8886933,8611497,7139862,6210078,6071323,6852686,7685545,10788765,9285211,7156614,10000246,7146127
1828,1830,2021,세종특별자치시,세종시,가로등,3281397,3111585,2839473,2805388,2570629,2441638,2383116,2520946,2653518,2853168,3140008,3264933
1829,1831,2021,세종특별자치시,세종시,심 야,13388874,12496456,9074443,6714929,4219524,2794306,1699694,1375779,1554697,2266419,6078348,9431606

In [35]:
df_all.reset_index()
df_all.loc[(df_all['계약종별']=='합 계')]

,index,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
7,9,2014,서울특별시,종로구,합 계,158551432,150088938,134275613,128156045,122677839,140721512,160182138,163217795,145792878,126092635,125677988,151832391
14,16,2014,서울특별시,중구,합 계,225229890,209930832,196322771,188568166,187575332,214581988,245564252,242897085,218258751,189737342,181960521,219028254
22,24,2014,서울특별시,용산구,합 계,123467815,117993607,103794567,101444427,96682643,110524778,123836274,130716177,117370849,100717379,99874461,116880454
30,32,2014,서울특별시,성동구,합 계,169857056,162151913,149672922,147075872,138919961,148721549,164188882,170612006,156793673,143670561,144715438,163871481
38,40,2014,서울특별시,동대문구,합 계,132884634,128267775,112160065,109382372,102143022,112881495,124567161,134388982,121079147,105282649,106861718,123178908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1790,1792,2021,경상남도,함양군,합 계,28686466,27550402,22918251,22410479,20284400,20645422,21782525,26207296,26154500,22735013,25361925,26635915
1798,1800,2021,경상남도,거창군,합 계,47116824,45119178,38821816,37553319,34101281,35161686,37020056,42206401,39628481,36021460,39101245,41625162
1806,1808,2021,경상남도,합천군,합 계,45048230,42419581,34913314,31939773,28024220,29880236,32038415,37041550,33598268,29192917,36706020,38955857
1814,1816,2021,제주특별자치도,제주시,합 계,294028645,283095735,256473466,262635034,250933819,265903001,304950248,340421930,308455234,274784662,269691271,284757670
1822,1824,2021,제주특별자치도,서귀포시,합 계,224228943,220227913,194331137,199187910,180024519,171543567,181888234,203887668,187093781,172163904,168487552,188533778

In [8]:
df_all_1 = df_all.loc[df_all['계약종별'].isin(['총계'])]
df_all_2 = df_all.loc[df_all['계약종별'].isin(['합 계'])]

In [37]:
data = pd.concat([df_all_1, df_all_2])

In [10]:
data.columns

Index(['index', '연도', '시도', '시군구', '계약종별', '1월', '2월', '3월', '4월', '5월', '6월',
       '7월', '8월', '9월', '10월', '11월', '12월'],
      dtype='object')

In [11]:
data.drop(columns=['index'])

,연도,시도,시군구,계약종별,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
7,2010년,서울특별시,강남구,총계,457927,424894,373656,376910,349786,393627,457405,496809,450576,350481,363305,413633
15,2010년,서울특별시,강동구,총계,144932,138528,118182,122005,111808,120631,135088,149326,138737,112613,119957,132367
23,2010년,서울특별시,강북구,총계,90056,87984,72971,76623,69216,71907,79741,91081,86153,70080,73777,81674
31,2010년,서울특별시,강서구,총계,186338,178368,153856,159663,147469,155677,172732,194199,182702,147682,153640,168821
39,2010년,서울특별시,관악구,총계,159420,154923,130358,138016,124745,132059,148250,166418,159093,126106,131912,145001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1790,2021,경상남도,함양군,합 계,28686466,27550402,22918251,22410479,20284400,20645422,21782525,26207296,26154500,22735013,25361925,26635915
1798,2021,경상남도,거창군,합 계,47116824,45119178,38821816,37553319,34101281,35161686,37020056,42206401,39628481,36021460,39101245,41625162
1806,2021,경상남도,합천군,합 계,45048230,42419581,34913314,31939773,28024220,29880236,32038415,37041550,33598268,29192917,36706020,38955857
1814,2021,제주특별자치도,제주시,합 계,294028645,283095735,256473466,262635034,250933819,265903001,304950248,340421930,308455234,274784662,269691271,284757670
1822,2021,제주특별자치도,서귀포시,합 계,224228943,220227913,194331137,199187910,180024519,171543567,181888234,203887668,187093781,172163904,168487552,188533778

In [12]:
import pandas as pd
df = pd.read_csv('전력 사용량 12차.csv')

In [13]:
df

      Unnamed: 0    연도       시도   월      사용량
0              0  2010      강원도   1  1480180
1              1  2010      경기도   1  8725482
2              2  2010     경상남도   1  2922775
3              3  2010     경상북도   1  3743904
4              4  2010    광주광역시   1   712924
...          ...   ...      ...  ..      ...
2443        2443  2021     전라남도  12  2966246
2444        2444  2021     전라북도  12  1864342
2445        2445  2021  제주특별자치도  12   473291
2446        2446  2021     충청남도  12  4388778
2447        2447  2021     충청북도  12  2506864

[2448 rows x 5 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2448 non-null   int64
 1   연도          2448 non-null   int64
 2   시도          2448 non-null   object
 3   월           2448 non-null   int64
 4   사용량         2448 non-null   int64
dtypes: int64(4), object(1)
memory usage: 95.8+ KB

In [15]:
df[['연도', '월']] = df[['연도', '월']].astype(str)

In [16]:
df = df.drop(columns=['Unnamed: 0'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      2448 non-null   object
 1   시도      2448 non-null   object
 2   월       2448 non-null   object
 3   사용량     2448 non-null   int64
dtypes: int64(1), object(3)
memory usage: 76.6+ KB

In [18]:
df['년월'] = df['연도'] + "_" + df['월']
df = df[['년월', '연도', '월', '시도', '사용량']]
df

           년월    연도   월       시도      사용량
0      2010_1  2010   1      강원도  1480180
1      2010_1  2010   1      경기도  8725482
2      2010_1  2010   1     경상남도  2922775
3      2010_1  2010   1     경상북도  3743904
4      2010_1  2010   1    광주광역시   712924
...       ...   ...  ..      ...      ...
2443  2021_12  2021  12     전라남도  2966246
2444  2021_12  2021  12     전라북도  1864342
2445  2021_12  2021  12  제주특별자치도   473291
2446  2021_12  2021  12     충청남도  4388778
2447  2021_12  2021  12     충청북도  2506864

[2448 rows x 5 columns]

In [19]:
df['월'] = df['월'].astype('int64')

In [20]:
for i in range(0, 2249, 1):
    if df.loc[i, '월'] == 1:
         df.loc[i, '월'] = '01'
    elif df.loc[i, '월'] == 2:
         df.loc[i, '월'] = '02'
    elif df.loc[i, '월'] == 3:
         df.loc[i, '월'] = '03'
    elif df.loc[i, '월'] == 4:
         df.loc[i, '월'] = '04'
    elif df.loc[i, '월'] == 5:
         df.loc[i, '월'] = '05'
    elif df.loc[i, '월'] == 6:
         df.loc[i, '월'] = '06'
    elif df.loc[i, '월'] == 7:
         df.loc[i, '월'] = '07'
    elif df.loc[i, '월'] == 8:
         df.loc[i, '월'] = '08'
    elif df.loc[i, '월'] == 9:
         df.loc[i, '월'] = '09'

In [21]:
df[['연도']] = df[['연도']].astype('int64')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년월      2448 non-null   object
 1   연도      2448 non-null   int64
 2   월       2448 non-null   object
 3   시도      2448 non-null   object
 4   사용량     2448 non-null   int64
dtypes: int64(2), object(3)
memory usage: 95.8+ KB

In [23]:
df

           년월    연도   월       시도      사용량
0      2010_1  2010  01      강원도  1480180
1      2010_1  2010  01      경기도  8725482
2      2010_1  2010  01     경상남도  2922775
3      2010_1  2010  01     경상북도  3743904
4      2010_1  2010  01    광주광역시   712924
...       ...   ...  ..      ...      ...
2443  2021_12  2021  12     전라남도  2966246
2444  2021_12  2021  12     전라북도  1864342
2445  2021_12  2021  12  제주특별자치도   473291
2446  2021_12  2021  12     충청남도  4388778
2447  2021_12  2021  12     충청북도  2506864

[2448 rows x 5 columns]

In [24]:
# df.to_csv('전력 사용량 14차.csv')

In [31]:
df.head(17)

        년월    연도   월       시도      사용량
0   2010_1  2010  01      강원도  1480180
1   2010_1  2010  01      경기도  8725482
2   2010_1  2010  01     경상남도  2922775
3   2010_1  2010  01     경상북도  3743904
4   2010_1  2010  01    광주광역시   712924
5   2010_1  2010  01    대구광역시  1331473
6   2010_1  2010  01    대전광역시   826373
7   2010_1  2010  01    부산광역시  1848492
8   2010_1  2010  01    서울특별시  4398183
9   2010_1  2010  01  세종특별자치시        0
10  2010_1  2010  01    울산광역시  2259608
11  2010_1  2010  01    인천광역시  2016429
12  2010_1  2010  01     전라남도  2233687
13  2010_1  2010  01     전라북도  1707366
14  2010_1  2010  01  제주특별자치도   325800
15  2010_1  2010  01     충청남도  3408166
16  2010_1  2010  01     충청북도  1755905