In [216]:
import pandas as pd
import matplotlib.pyplot as plt	
import datetime

In [217]:
df = pd.read_csv("201001_202112_월별_시도별_주택매매가격변동률.csv",encoding="cp949")
df

,행정구역별(1),2010.01,2010.02,2010.03,2010.04,2010.05,2010.06,2010.07,2010.08,2010.09,...,2021.03,2021.04,2021.05,2021.06,2021.07,2021.08,2021.09,2021.1,2021.11,2021.12
0,전국,0.13,0.26,0.22,0.17,0.02,0,-0.16,-0.1,0.07,...,0.74,0.71,0.70,1.15,0.85,0.96,0.92,0.88,0.63,0.29
1,서울특별시,0.13,0.23,0.07,-0.02,-0.25,-0.24,-0.34,-0.38,-0.19,...,0.38,0.35,0.40,0.72,0.60,0.68,0.72,0.71,0.55,0.26
2,부산광역시,0.36,0.76,0.95,1.13,0.91,0.72,0.53,0.49,0.7,...,0.66,0.57,0.80,1.47,0.85,0.99,0.87,0.90,0.65,0.25
3,대구광역시,0.09,0.11,0.03,0.2,0.09,-0.02,-0.02,0.07,0.13,...,1.11,0.82,0.79,0.84,0.34,0.27,0.15,0.09,0.00,-0.10
4,인천광역시,0.05,0.02,0.03,-0.16,-0.24,-0.21,-0.42,-0.28,-0.3,...,1.31,1.47,1.42,2.12,1.33,1.38,1.46,1.50,0.94,0.49
5,광주광역시,0.07,0.09,-0.01,0.08,0.21,-0.02,-0.07,0.06,0.13,...,0.34,0.45,0.47,0.97,0.73,0.85,0.81,0.95,0.77,0.52
6,대전광역시,0.63,0.93,0.5,0.62,0.68,0.28,0.18,0.47,0.44,...,1.18,1.03,0.94,1.13,0.82,1.05,0.84,0.87,0.57,0.15
7,울산광역시,0.24,0.41,0.26,0.36,0.42,0.13,0.13,0.03,0.19,...,0.47,0.37,0.34,0.66,0.72,0.77,0.70,0.69,0.50,0.27
8,세종특별자치시,-,-,-,-,-,-,-,-,-,...,0.68,0.45,0.22,-0.07,-0.13,-0.19,-0.08,-0.11,-0.67,-1.74
9,경기도,-0.06,0.04,0.01,-0.11,-0.48,-0.46,-0.71,-0.49,-0.17,...,1.28,1.17,1.04,1.92,1.52,1.68,1.55,1.33,0.86,0.34
10,강원도,0.13,0.22,0.31,0.19,0.06,0.1,0.29,0.19,-0.04,...,0.50,0.49,0.40,0.58,0.49,0.59,0.59,0.58,0.56,0.37
11,충청북도,0.14,0.38,0.38,0.4,0.42,0.59,0.3,0.27,0.48,...,0.56,0.61,0.61,0.94,0.74,0.90,0.91,1.01,0.74,0.39
12,충청남도,0.03,0.12,0.12,-0.14,0.13,0.07,-0.04,-0.1,0.08,...,0.54,0.63,0.57,0.70,0.63,0.75,0.75,0.89,0.68,0.43
13,전라북도,0.28,0.54,0.52,0.47,0.48,0.84,0.92,0.38,0.59,...,0.17,0.28,0.32,0.63,0.62,0.65,0.69,0.60,0.52,0.31
14,전라남도,0.31,0.42,0.7,0.4,0.33,0.11,0.14,0.09,0.22,...,0.18,0.23,0.25,0.42,0.33,0.37,0.39,0.28,0.24,0.18
15,경상북도,-0.01,0.02,0.01,-0.05,-0.09,-0.22,-0.31,-0.14,-0.01,...,0.44,0.43,0.50,0.57,0.42,0.50,0.40,0.46,0.37,0.28
16,경상남도,0.19,0.55,0.7,0.66,0.91,0.99,0.52,0.72,0.71,...,0.33,0.41,0.41,0.55,0.42,0.59,0.62,0.81,0.74,0.35
17,제주특별자치도,0.64,0.26,0.15,0.24,0.28,1.18,0.45,0.09,0.04,...,0.10,0.18,0.59,1.34,0.73,0.96,0.85,0.75,0.41,0.21

In [218]:
df = df.drop([0],axis=0)
df = df.reset_index()

In [219]:
df

,index,행정구역별(1),2010.01,2010.02,2010.03,2010.04,2010.05,2010.06,2010.07,2010.08,...,2021.03,2021.04,2021.05,2021.06,2021.07,2021.08,2021.09,2021.1,2021.11,2021.12
0,1,서울특별시,0.13,0.23,0.07,-0.02,-0.25,-0.24,-0.34,-0.38,...,0.38,0.35,0.40,0.72,0.60,0.68,0.72,0.71,0.55,0.26
1,2,부산광역시,0.36,0.76,0.95,1.13,0.91,0.72,0.53,0.49,...,0.66,0.57,0.80,1.47,0.85,0.99,0.87,0.90,0.65,0.25
2,3,대구광역시,0.09,0.11,0.03,0.2,0.09,-0.02,-0.02,0.07,...,1.11,0.82,0.79,0.84,0.34,0.27,0.15,0.09,0.00,-0.10
3,4,인천광역시,0.05,0.02,0.03,-0.16,-0.24,-0.21,-0.42,-0.28,...,1.31,1.47,1.42,2.12,1.33,1.38,1.46,1.50,0.94,0.49
4,5,광주광역시,0.07,0.09,-0.01,0.08,0.21,-0.02,-0.07,0.06,...,0.34,0.45,0.47,0.97,0.73,0.85,0.81,0.95,0.77,0.52
5,6,대전광역시,0.63,0.93,0.5,0.62,0.68,0.28,0.18,0.47,...,1.18,1.03,0.94,1.13,0.82,1.05,0.84,0.87,0.57,0.15
6,7,울산광역시,0.24,0.41,0.26,0.36,0.42,0.13,0.13,0.03,...,0.47,0.37,0.34,0.66,0.72,0.77,0.70,0.69,0.50,0.27
7,8,세종특별자치시,-,-,-,-,-,-,-,-,...,0.68,0.45,0.22,-0.07,-0.13,-0.19,-0.08,-0.11,-0.67,-1.74
8,9,경기도,-0.06,0.04,0.01,-0.11,-0.48,-0.46,-0.71,-0.49,...,1.28,1.17,1.04,1.92,1.52,1.68,1.55,1.33,0.86,0.34
9,10,강원도,0.13,0.22,0.31,0.19,0.06,0.1,0.29,0.19,...,0.50,0.49,0.40,0.58,0.49,0.59,0.59,0.58,0.56,0.37
10,11,충청북도,0.14,0.38,0.38,0.4,0.42,0.59,0.3,0.27,...,0.56,0.61,0.61,0.94,0.74,0.90,0.91,1.01,0.74,0.39
11,12,충청남도,0.03,0.12,0.12,-0.14,0.13,0.07,-0.04,-0.1,...,0.54,0.63,0.57,0.70,0.63,0.75,0.75,0.89,0.68,0.43
12,13,전라북도,0.28,0.54,0.52,0.47,0.48,0.84,0.92,0.38,...,0.17,0.28,0.32,0.63,0.62,0.65,0.69,0.60,0.52,0.31
13,14,전라남도,0.31,0.42,0.7,0.4,0.33,0.11,0.14,0.09,...,0.18,0.23,0.25,0.42,0.33,0.37,0.39,0.28,0.24,0.18
14,15,경상북도,-0.01,0.02,0.01,-0.05,-0.09,-0.22,-0.31,-0.14,...,0.44,0.43,0.50,0.57,0.42,0.50,0.40,0.46,0.37,0.28
15,16,경상남도,0.19,0.55,0.7,0.66,0.91,0.99,0.52,0.72,...,0.33,0.41,0.41,0.55,0.42,0.59,0.62,0.81,0.74,0.35
16,17,제주특별자치도,0.64,0.26,0.15,0.24,0.28,1.18,0.45,0.09,...,0.10,0.18,0.59,1.34,0.73,0.96,0.85,0.75,0.41,0.21

In [220]:
df = df.rename(columns={'행정구역별(1)' : "시도"})

In [221]:
df = df.replace('-', '0')

In [222]:
df = df.drop(columns=['index'])

In [223]:
df = df.T.reset_index()

In [224]:
df

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,시도,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
1,2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,0,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64
2,2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,0,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26
3,2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,0,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15
4,2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,0,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96
141,2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85
142,2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75
143,2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41
144,2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21

In [225]:
df = df.rename(columns= df.iloc[0])

In [226]:
df

,시도,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
0,시도,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
1,2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,0,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64
2,2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,0,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26
3,2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,0,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15
4,2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,0,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96
141,2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85
142,2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75
143,2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41
144,2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21

In [227]:
df = df.rename(columns = df.iloc[0])

In [228]:
df = df.drop([0],axis=0)

In [229]:
df = df.reset_index()

In [230]:
df.columns

Index(['index', '시도', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
       '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도',
       '경상북도', '경상남도', '제주특별자치도'],
      dtype='object')

In [231]:
df

,index,시도,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
0,1,2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,0,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64
1,2,2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,0,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26
2,3,2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,0,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15
3,4,2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,0,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24
4,5,2010.05,-0.25,0.91,0.09,-0.24,0.21,0.68,0.42,0,-0.48,0.06,0.42,0.13,0.48,0.33,-0.09,0.91,0.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,140,2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96
140,141,2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85
141,142,2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75
142,143,2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41
143,144,2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21

In [232]:
##월추가
df['월'] = df['년월'].str.split('.').str.get(1) 
df['년'] = df['년월'].str.split('.').str.get(0) 
df

KeyError: '년월'

In [ ]:
##월추가
df['월'] = df['년월'].str.split('.').str.get(1) 
df['년'] = df['년월'].str.split('.').str.get(0) 
df

KeyError: '년월'

In [ ]:
##1월(10월)을 10으로 바꾸기 
df.loc[df['월'] == '1', '월'] = '10'
df['년월'] = df['년월'].str.split('.').str.get(0)

           년월       시도 주택가격변동률   월     년
0     2010.01    서울특별시    0.13  01  2010
1     2010.02    서울특별시    0.23  02  2010
2     2010.03    서울특별시    0.07  03  2010
3     2010.04    서울특별시   -0.02  04  2010
4     2010.05    서울특별시   -0.25  05  2010
...       ...      ...     ...  ..   ...
2443  2021.08  제주특별자치도    0.96  08  2021
2444  2021.09  제주특별자치도    0.85  09  2021
2445   2021.1  제주특별자치도    0.75  10  2021
2446  2021.11  제주특별자치도    0.41  11  2021
2447  2021.12  제주특별자치도    0.21  12  2021

[2448 rows x 5 columns]

In [ ]:
##년월로 만들기 
df['년월'] = df['년']+"_"+df['월']
df

           년월       시도 주택가격변동률   월     년
0     2010_01    서울특별시    0.13  01  2010
1     2010_02    서울특별시    0.23  02  2010
2     2010_03    서울특별시    0.07  03  2010
3     2010_04    서울특별시   -0.02  04  2010
4     2010_05    서울특별시   -0.25  05  2010
...       ...      ...     ...  ..   ...
2443  2021_08  제주특별자치도    0.96  08  2021
2444  2021_09  제주특별자치도    0.85  09  2021
2445  2021_10  제주특별자치도    0.75  10  2021
2446  2021_11  제주특별자치도    0.41  11  2021
2447  2021_12  제주특별자치도    0.21  12  2021

[2448 rows x 5 columns]

In [ ]:
df

           년월       시도 주택가격변동률   월     년
0     2010_01    서울특별시    0.13  01  2010
1     2010_02    서울특별시    0.23  02  2010
2     2010_03    서울특별시    0.07  03  2010
3     2010_04    서울특별시   -0.02  04  2010
4     2010_05    서울특별시   -0.25  05  2010
...       ...      ...     ...  ..   ...
2443  2021_08  제주특별자치도    0.96  08  2021
2444  2021_09  제주특별자치도    0.85  09  2021
2445  2021_10  제주특별자치도    0.75  10  2021
2446  2021_11  제주특별자치도    0.41  11  2021
2447  2021_12  제주특별자치도    0.21  12  2021

[2448 rows x 5 columns]

In [ ]:
df = df.rename(columns={'년':'연도'})

In [233]:
df.sort_values(by='시도',ascending=True)

,index,시도,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
0,1,2010.01,0.13,0.36,0.09,0.05,0.07,0.63,0.24,0,-0.06,0.13,0.14,0.03,0.28,0.31,-0.01,0.19,0.64
1,2,2010.02,0.23,0.76,0.11,0.02,0.09,0.93,0.41,0,0.04,0.22,0.38,0.12,0.54,0.42,0.02,0.55,0.26
2,3,2010.03,0.07,0.95,0.03,0.03,-0.01,0.5,0.26,0,0.01,0.31,0.38,0.12,0.52,0.7,0.01,0.7,0.15
3,4,2010.04,-0.02,1.13,0.2,-0.16,0.08,0.62,0.36,0,-0.11,0.19,0.4,-0.14,0.47,0.4,-0.05,0.66,0.24
4,5,2010.05,-0.25,0.91,0.09,-0.24,0.21,0.68,0.42,0,-0.48,0.06,0.42,0.13,0.48,0.33,-0.09,0.91,0.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,140,2021.08,0.68,0.99,0.27,1.38,0.85,1.05,0.77,-0.19,1.68,0.59,0.9,0.75,0.65,0.37,0.5,0.59,0.96
140,141,2021.09,0.72,0.87,0.15,1.46,0.81,0.84,0.7,-0.08,1.55,0.59,0.91,0.75,0.69,0.39,0.4,0.62,0.85
141,142,2021.1,0.71,0.9,0.09,1.5,0.95,0.87,0.69,-0.11,1.33,0.58,1.01,0.89,0.6,0.28,0.46,0.81,0.75
142,143,2021.11,0.55,0.65,0.0,0.94,0.77,0.57,0.5,-0.67,0.86,0.56,0.74,0.68,0.52,0.24,0.37,0.74,0.41
143,144,2021.12,0.26,0.25,-0.1,0.49,0.52,0.15,0.27,-1.74,0.34,0.37,0.39,0.43,0.31,0.18,0.28,0.35,0.21

In [ ]:
usedf = pd.read_csv("전력 사용량 14차.csv")
used




f = df.drop(columns=['Unnamed: 0'])